<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.OpsEnvironmentMapper">
    
    <resultMap type="OpsEnvironment" id="OpsEnvironmentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="needApproval"    column="need_approval"    />
        <result property="approvalProcessKey"    column="approval_process_key"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOpsEnvironmentVo">
        select id, name, code, sort, status, need_approval, approval_process_key, create_by, create_time, update_by, update_time, remark from ops_environment
    </sql>

    <select id="selectOpsEnvironmentList" parameterType="OpsEnvironment" resultMap="OpsEnvironmentResult">
        <include refid="selectOpsEnvironmentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by sort asc
    </select>
    
    <select id="selectOpsEnvironmentById" parameterType="Long" resultMap="OpsEnvironmentResult">
        <include refid="selectOpsEnvironmentVo"/>
        where id = #{id}
    </select>
    
    <select id="selectOpsEnvironmentByCode" parameterType="String" resultMap="OpsEnvironmentResult">
        <include refid="selectOpsEnvironmentVo"/>
        where code = #{code}
    </select>
        
    <insert id="insertOpsEnvironment" parameterType="OpsEnvironment" useGeneratedKeys="true" keyProperty="id">
        insert into ops_environment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="needApproval != null">need_approval,</if>
            <if test="approvalProcessKey != null">approval_process_key,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="needApproval != null">#{needApproval},</if>
            <if test="approvalProcessKey != null">#{approvalProcessKey},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOpsEnvironment" parameterType="OpsEnvironment">
        update ops_environment
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="needApproval != null">need_approval = #{needApproval},</if>
            <if test="approvalProcessKey != null">approval_process_key = #{approvalProcessKey},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOpsEnvironmentById" parameterType="Long">
        delete from ops_environment where id = #{id}
    </delete>

    <delete id="deleteOpsEnvironmentByIds" parameterType="String">
        delete from ops_environment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
