<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.OpsDeployDocMapper">
    
    <resultMap type="OpsDeployDoc" id="OpsDeployDocResult">
        <result property="docId"    column="doc_id"    />
        <result property="templateId"    column="template_id"    />
        <result property="version"    column="version"    />
        <result property="docName"    column="doc_name"    />
        <result property="docPath"    column="doc_path"    />
        <result property="docType"    column="doc_type"    />
        <result property="fileSize"    column="file_size"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOpsDeployDocVo">
        select doc_id, template_id, version, doc_name, doc_path, doc_type, file_size, create_by, create_time, update_by, update_time, remark from ops_deploy_doc
    </sql>

    <select id="selectOpsDeployDocList" parameterType="OpsDeployDoc" resultMap="OpsDeployDocResult">
        <include refid="selectOpsDeployDocVo"/>
        <where>  
            <if test="templateId != null "> and template_id = #{templateId}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="docName != null  and docName != ''"> and doc_name like concat('%', #{docName}, '%')</if>
            <if test="docType != null  and docType != ''"> and doc_type = #{docType}</if>
        </where>
    </select>
    
    <select id="selectOpsDeployDocByDocId" parameterType="Long" resultMap="OpsDeployDocResult">
        <include refid="selectOpsDeployDocVo"/>
        where doc_id = #{docId}
    </select>
        
    <insert id="insertOpsDeployDoc" parameterType="OpsDeployDoc" useGeneratedKeys="true" keyProperty="docId">
        insert into ops_deploy_doc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="version != null">version,</if>
            <if test="docName != null">doc_name,</if>
            <if test="docPath != null">doc_path,</if>
            <if test="docType != null">doc_type,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="version != null">#{version},</if>
            <if test="docName != null">#{docName},</if>
            <if test="docPath != null">#{docPath},</if>
            <if test="docType != null">#{docType},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOpsDeployDoc" parameterType="OpsDeployDoc">
        update ops_deploy_doc
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="version != null">version = #{version},</if>
            <if test="docName != null">doc_name = #{docName},</if>
            <if test="docPath != null">doc_path = #{docPath},</if>
            <if test="docType != null">doc_type = #{docType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where doc_id = #{docId}
    </update>

    <delete id="deleteOpsDeployDocByDocId" parameterType="Long">
        delete from ops_deploy_doc where doc_id = #{docId}
    </delete>

    <delete id="deleteOpsDeployDocByDocIds" parameterType="String">
        delete from ops_deploy_doc where doc_id in 
        <foreach item="docId" collection="array" open="(" separator="," close=")">
            #{docId}
        </foreach>
    </delete>
</mapper>
