<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.SysBatchTaskDetailMapper">
    
    <resultMap type="SysBatchTaskDetail" id="SysBatchTaskDetailResult">
        <result property="detailId"    column="detail_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="serverId"    column="server_id"    />
        <result property="serverName"    column="server_name"    />
        <result property="serverIp"    column="server_ip"    />
        <result property="status"    column="status"    />
        <result property="exitCode"    column="exit_code"    />
        <result property="executionLog"    column="execution_log"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectSysBatchTaskDetailVo">
        select detail_id, task_id, server_id, server_name, server_ip, status, exit_code, execution_log, start_time, end_time from sys_batch_task_detail
    </sql>

    <select id="selectSysBatchTaskDetailList" parameterType="SysBatchTaskDetail" resultMap="SysBatchTaskDetailResult">
        <include refid="selectSysBatchTaskDetailVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="serverId != null "> and server_id = #{serverId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysBatchTaskDetailById" parameterType="Long" resultMap="SysBatchTaskDetailResult">
        <include refid="selectSysBatchTaskDetailVo"/>
        where detail_id = #{detailId}
    </select>

    <select id="selectSysBatchTaskDetailListByTaskId" parameterType="Long" resultMap="SysBatchTaskDetailResult">
        <include refid="selectSysBatchTaskDetailVo"/>
        where task_id = #{taskId}
    </select>
        
    <insert id="insertSysBatchTaskDetail" parameterType="SysBatchTaskDetail" useGeneratedKeys="true" keyProperty="detailId">
        insert into sys_batch_task_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_id,</if>
            <if test="serverId != null">server_id,</if>
            <if test="serverName != null">server_name,</if>
            <if test="serverIp != null">server_ip,</if>
            <if test="status != null">status,</if>
            <if test="exitCode != null">exit_code,</if>
            <if test="executionLog != null">execution_log,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="serverId != null">#{serverId},</if>
            <if test="serverName != null">#{serverName},</if>
            <if test="serverIp != null">#{serverIp},</if>
            <if test="status != null">#{status},</if>
            <if test="exitCode != null">#{exitCode},</if>
            <if test="executionLog != null">#{executionLog},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateSysBatchTaskDetail" parameterType="SysBatchTaskDetail">
        update sys_batch_task_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="exitCode != null">exit_code = #{exitCode},</if>
            <if test="executionLog != null">execution_log = #{executionLog},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </trim>
        where detail_id = #{detailId}
    </update>

    <delete id="deleteSysBatchTaskDetailById" parameterType="Long">
        delete from sys_batch_task_detail where detail_id = #{detailId}
    </delete>

    <delete id="deleteSysBatchTaskDetailByIds" parameterType="String">
        delete from sys_batch_task_detail where detail_id in 
        <foreach item="detailId" collection="array" open="(" separator="," close=")">
            #{detailId}
        </foreach>
    </delete>

    <delete id="deleteSysBatchTaskDetailByTaskId" parameterType="Long">
        delete from sys_batch_task_detail where task_id = #{taskId}
    </delete>
</mapper>
